<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> О ГАВНО</title>
    <style>
        body{
            color: #fff;
            background: #333;
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <h1>Про говно</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, repellat rem reprehenderit porro soluta quae minus voluptatibus aliquam mollitia, dicta autem! Ex illum ipsam debitis tempora alias dicta minima autem.</p>
    <a href="/">Главная</a>
</body>
</html>